/*  starting with a smaller screen 768px */

@media screen and (max-width:768px){
  
	header{
			padding: 0;
			/* min-height: 100vh; */
	}
	header .right-header{
			padding: 0 !important;
	}
	.header-content{
		grid-template-columns: 1fr;
		padding-top: 1.8rem; 
		/* margin-left: -30px; */
	}
	.left-header .h-shape{
     display: none;
	}
	.header-content .left-header .imgs{
		margin: 15px auto;
		width: 90%;
	}
	.right-header{
		grid-row: 1;
		width: 70%;
		margin: 0 auto;
	}
	.right-header .name{
		font-size: 2.3rem !important;
		margin-left: -30px;
	}
	.right-header p{
		font-size: 1.1rem !important;
		margin-left: -30px;
	}
 .btn-con{
	margin-left: -28px;
 }
	.theme-btn{
		width: 50px;
		height: 50px;	
	}
	.theme-btn i{
	font-size: 1.6rem;
	}
	/* about */
	.about-container{
		grid-template-columns: 1fr;
	}
	.about-container .right-about{
		grid-template-columns: 1fr;
		padding-top: 2.5rem;
	}
	.about-container .left-about{
		margin-left: -50px;
	}
 .left-about p{
   padding-left: 0px;
	}
	.left-about h4{
		font-size: 1.5rem;
		margin-left: 33px;
	 }
	 .timeline{
		 grid-template-columns: 1fr;
		 margin-left: 20px;
	 }
	 .about-stats .progress-bars{
		 grid-template-columns: 1fr;
		 margin-left: 90px; 
	 }
	 .about-stats .progress-bar{
		margin-left: 90px;
	 }
  .section{
		padding: 2rem 2.5rem;
	}
	
		/* blogs */

		.blogss{
			grid-template-columns: 1fr;
			padding-bottom: 6rem;
		}
	 /* portfolios */
	 .portfolios{
			grid-template-columns: 1fr;
			padding-bottom: 6rem;
	 }
		/* contact */
		.contact-content-con{
			flex-direction: column;
		}
		.contact-content-con .right-contact{
			margin-left: 0;
			margin-top: 1.5rem;
		}
		/* .contact-content-con .right-contact .i-c-2{
			flex-direction: column;
		} */
		/* .contact-content-con .right-contact .i-c-2:last-child{
			margin-left: 0;
			margin-top: 2.5rem;
		} */
		.contact-content-con .left-contact{
			margin-left: -20px;
			/* margin-top: 2.5rem; */
		}
		.left-contact .contact-item p{
			font-size: 14px;
		}
		.left-contact .contact-item span{
			font-size: 14px;
		}
		.left-contact .contact-item .icon i{
			font-size: 14px;
		}
		.left-contact h4{
			margin-top: -40px;
			font-size: 1.4rem;
		}
		.left-contact p{
			font-size: 1.1rem;
		}
		.left-contact .contact-icons{
			display: none;
		}
	 /* .contact-icons .contact-icon{
				width: 200px;
				height: 30px;
				border-radius: 50%;		
		} */
		/* .contact-icons .contact-icon i{
			font-size: 1.1rem;
		} */
		.right-contact .contact-form{
			margin-top: -40px;
			margin-left: -20px;
		}
		.input-control textarea{
			padding: .4rem 1.1rem;
		}
		.right-contact .submit-btn{
			margin-top: -20px;
			flex-direction: column;
			overflow: auto;
		}

	 .controlls{
		top: auto;
		bottom: 0;
		flex-direction: row;
		justify-content: center;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		height: 50px;
		background-color: var(--color-grey-6);
	}
   .controlls .control{
		margin: 1rem .3rem;
		width: 40px;
		height: 40px;
	}
	/* main-title */
	.main-title h2{
		font-size: 1.2rem;
	}
	.main-title span{
		font-size: 1.5rem;
	}
	.main-title .bg-text{
		font-size: 1.2rem;
	}
}